@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section { background-image: url('../public/assets/home/hero-bg.png'); height: 786px; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;}

.our-section { background-image: url('../public/assets/home/bg1.svg'); width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;}